<% if (securityFeedback.length > 0 ) { %>
  <p class="error-message"> <%= securityFeedback %> </p>
<% } %>

<div class="container" id="home-page">
  <div class="row">

    <div class="col-md-8">
<ul>

    <h4>Welcome <%=currentUser.name %> !</h4>
    <br>
    <p><h6>Workout Days:</h6> <%=currentUser.availableDays%> </p>
    <p>I am Located in: <%=currentUser.userLocation %> </p>
    <p>My Gym Memberships: <%=currentUser.userGym %> </p>
    <p> I like working out here: <%=currentUser.workoutLocations %></p>
    <p> My Fitness Goals: <%=currentUser.userFitGoals %> </p>
    <p>My Current Fitness Level: <%= currentUser.userFitLevel %> </p>
</ul>
</div>




    <div class="col-md-2 col-md-offset-1">
      <a class="btn btn-default" href="/messages" role="button">My Messages</a>
      <br>
      <br>
      <a class="btn btn-default" href="/findbuddy" role="button">Find Fit Buddy</a>
      <a class="btn btn-default" href="/addgym" role="button"> Add a Gym</a>
    </div>
</div>
</div>
