<% if (securityFeedback.length > 0 ) { %>
  <p class="error-message"> <%= securityFeedback %> </p>
<% } %>

<div class="container" id="home-page">
  <div class="row">

    <div class="col-md-8">
<ul>

    <h4>Welcome <%=currentUser.name %> !</h4>
    <br>
    <h6>Workout Days:</h6><p> <%=currentUser.availableDays%> </p>
    <h6>I am Located in:</h6><p> <%=currentUser.userLocation %> </p>
    <h6>My Gym Memberships:</h6><p> <%=currentUser.userGym %> </p>
    <h6>I like working out here:</h6><p> <%=currentUser.workoutLocations %></p>
    <h6> My Fitness Goals:</h6><p> <%=currentUser.userFitGoals %> </p>
    <h6>My Current Fitness Level:</h6><p> <%= currentUser.userFitLevel %> </p>
</ul>
</div>



    <div class="col-md-2 col-md-offset-1">
      <br>
      <br>
      <a class="btn btn-default" href="/profile/<%=currentUser._id%>/edit" role="button">Update Profile</a>
      <a class="btn btn-default" href="/messages" role="button">My Messages</a>
      <!-- <a class="btn btn-default" href="/addgym" role="button"> Add a Gym</a> -->
      <br>
      <br>
    </div>
</div>
</div>
