<h2> MY FitBuddy Matches</h2>

<br><br>
<%  listOfUsers.forEach((oneUser) => { %>
<div class="container-fluid well span4">
	<div class="row-fluid">
        <div class="span2" >
		    <img id="searchpic" src="https://media.giphy.com/media/Ft62PpMu4mzpm/giphy.gif" class="img-circle">
        </div>

        <div class="span8 text-center">
          <ul>
            <li>
            <h3> <%= oneUser.name %> </h3>
            <h6>My Current Fit Goals : <%= oneUser.fitness_goals %></h6>
            <h6>My Fitness Level: <%= oneUser.fitness_level %></h6>
            <h6><p> I workout: <%= oneUser.availability_days %></p>
            <p> At these times: <%= oneUser.availability_time %> </p></h6>
            <h6><p> Member Since: <time> <%= oneUser.createdAt %>  </time></p>
            </li>
          </ul>
        </div>


        <div class="span2">
            <div class="btn-group pull-right">
                <a id="chatbutton" class="btn dropdown-toggle btn-info" href="/messages/<%=oneUser._id %>">
                    Chat
                </a>
            </div>
        </div>
</div>
</div>
  <%  }) %>
